.forum-prefix {
  ul.prefix-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding-bottom: 20px;

      .prefix-adder-button {

      }

      .prefix-adder-input {

      }

      .prefix-adder-input-update {

      }

      .prefix-adder-item {
        padding-right: 5px;

        ~ .fa-pencil {
          padding-right: 5px;
        }
      }
    }
  }
}