.contact-info {

  .company-info {
    padding: 20px 0;

    .content.title {

    }

    .content.description {
      display: table-cell;
      position: relative;
      padding-left: 10px;
    }
  }
}