<div id="wrap">
  <div id="header">
    <div class="head_contents">
      <div class="top_area">
        <div class="top_contents">
          <div id="top_logo">{{>Header/Logo}}</div>
          <div id="top_search"></div>
          <div id="top_my_area"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="container">
    <div id="left_col">
      <div id="category_menu"></div>
      <div id="category"></div>
    </div>
    <div id="section">
      <div id="contents"></div>
      <div id="right_col"></div>
    </div>
  </div>
</div>
<div id="modal"></div>