.Content-ConfirmPurchaseItem {

  .confirm-panel {
    background: #fff;
    margin: auto;

    .confirm-box {
      padding-top: 50px;
      margin: 300px auto;
      width: 250px;
      height: 200px;
    }
  }
}