//colors
$white: #fff;
$color_storm_dust_approx: #666;
$gallery: #efefef;
$color_mountain_mist_approx: #919191;
$color_celeste_approx: #ccc;
$color_manatee_approx: #8f949b;
$color_rose_bud_approx: #f8b797;
$color_orange_approx: #f1631b;
$color_flamingo_approx: #eb531f;
$color_alto_approx: #dcdcdc;
$color_pale_sky_approx: #727982;
$alabaster: #fafafa;
$color_scarpa_flow_approx: #4e5660;
$seashell: #f1f1f1;
$color_bon_jour_approx: #dfe0e2;
$color_raffia_approx: #e8e0b6;
$color_reef_gold_approx: #9e8918;
$color_milk_punch_approx: #fffad5;
$color_mercury_approx: #e6e6e6;
$color_tundora_approx: #444;
$color_mine_shaft_approx: #333;
$color_rolling_stone_approx: #737a84;
$color_hit_pink_approx: #f8b18d;
$color_gray_nurse_approx: #e9e9e9;
$color_trendmaster: #A3BBDC;

//fonts
$font_0: verdana;
$font_1: sans-serif;
$font_2: dotum;

//urls
$url_0: url(//i1.tc_cdn.net/cfs.tistory/static/top/bg_error.gif);
$url_1: url(//i1.tc_cdn.net/cfs.tistory/static/top/dot_error.gif);
$url_2: url(//i1.tc_cdn.net/cfs.tistory/static/top/bg_unlock.gif);
$url_3: url(//i1.tc_cdn.net/cfs.tistory/static/top/bg_success.gif);
$url_4: url(//i1.tc_cdn.net/cfs.tistory/static/top/bg_deny.gif);

.gb_login {
  width: 650px;
}

#tc_Head {
  text-align: center;
  position: relative;
  max-width: 490px;
  margin: 0 auto;
  padding: 30px 0 30px 0;
  h1 {
    padding: 0;
    font-size: 50px;
  }
}

#tc_ServiceLogo {
  width: 125px;
  height: 25px;
  margin-left: 1px;
  background-position: 0 0;
}

#tc_Content {
  margin: 0;
  padding: 0;
}

#mArticle {
  width: 250px;
  margin: 0 auto;
  padding: 0;

  fieldset {
    border: 0;
  }
}

#tc_Foot {}

.inner_footer {
  margin: 0;
  padding: 0;
  border-top-color: $gallery;
  color: $color_mountain_mist_approx;
  .txt_copyright {
    font-size: 11px;
    width: auto;
    padding: 20px 0;
    text-align: center;
  }
}

.tistory_login {
  position: relative;
  padding: 40px;
  text-align: center;
  .btn_login {
    width: 80%;
    height: 50px;
    padding-bottom: 3px;
    font-size: 18px;
    color: $white;
    background-color: $color_orange_approx;
    letter-spacing: -1px;
    display: block;
    margin: 21px auto 0;
    &:hover {
      background-color: $color_flamingo_approx;
    }
  }
  .link_tc_login {
    display: block;
    height: 48px;
    padding-top: 12px;
    margin-top: 34px;
    border: 1px solid $color_alto_approx;
    line-height: 14px;
    color: $color_pale_sky_approx;
    background-color: $alabaster;
    text-align: center;
    letter-spacing: -1px;
    .txt_login {
      display: block;
      padding-top: 5px;
      font-size: 15px;
      line-height: 17px;
      color: $color_scarpa_flow_approx;
      text-align: center;
    }
    &:hover {
      border-color: $color_celeste_approx;
      background-color: $seashell;
      text-decoration: none;
    }
  }
  .email_save {
    font-size: 13px;
    line-height: 15px;
    padding-top: 17px;
    .lab_comm {
      padding-left: 5px;
      color: $color_manatee_approx;
      letter-spacing: -1px;
      cursor: pointer;
      &:hover {
        color: $color_scarpa_flow_approx;
      }
    }
    .lab_checked {
      color: $color_scarpa_flow_approx;
    }
  }
  .login_append {
    padding-top: 20px;
    font-size: 13px;
    letter-spacing: -1px;
    text-align: center;
    .link_find {
      color: $color_manatee_approx;
      letter-spacing: -1px;
      &:hover {
        color: $color_scarpa_flow_approx;
      }
    }
    .link_join {
      padding-right: 10px;
      color: $color_orange_approx;
      background-position: 100% -420px;
      letter-spacing: -1px;
      &:hover {
        color: $color_orange_approx;
      }
    }
    .txt_bar {
      padding: 0 20px;
      color: $color_bon_jour_approx;
    }
  }
}

.input_info {
  position: relative;
  width: 80%;
  height: 35px;
  padding-top: 12px;
  border-bottom: 1px solid #ccc;
  margin: 0 auto;
  .lab_g {
    position: absolute;
    top: 17px;
    left: 0;
    height: 16px;
    font-size: 15px;
    line-height: 17px;
    color: $color_manatee_approx;
  }
  .tf_g {
    display: block;
    width: 235px;
    height: 18px;
    padding: 0;
    margin-top: 5px;
    border: 0 none;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    font-family: $font_0, $font_1;
    color: $color_orange_approx;
    background: 0;
    outline: 0;
  }
}

.input_on {
  border-bottom-color: $color_rose_bud_approx;
  .lab_g {
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
  }
}

.box_noti {
  position: relative;
  height: 18px;
  padding: 12px 0;
  margin-top: 11px;
  border: 1px solid $color_raffia_approx;
  color: $color_reef_gold_approx;
  background-color: $color_milk_punch_approx;
  text-align: center;
  .txt_noti {
    display: inline-block;
    height: 17px;
    padding-left: 23px;
    font-size: 13px;
    line-height: 17px;
    background-position: 0 -824px;
    letter-spacing: -1px;
  }
  .ico_arrow {
    position: absolute;
    top: -5px;
    left: 27px;
    width: 14px;
    height: 5px;
    background-position: 0 -400px;
  }
}

.box_captcha {
  position: relative;
  height: 100px;
  margin-top: 9px;
  padding: 10px 75px 14px 14px;
  border: 1px solid $color_mountain_mist_approx;
  .img_captcha {
    display: block;
    width: 196px;
    margin: 0 auto;
    .noti_captcha_audio {
      display: none;
      width: 196px;
      height: 49px;
      margin: 0 auto;
      line-height: 49px;
      text-align: center;
    }
  }
  .input_info {
    width: 317px;
    height: 26px;
    padding-top: 7px;
    margin-top: 16px;
    border: 1px solid $color_celeste_approx;
    background-color: $alabaster;
    .lab_g {
      left: 12px;
      top: 7px;
      font-size: 13px;
      color: $color_mountain_mist_approx;
      letter-spacing: -1px;
    }
    .tf_g {
      margin: 0 0 0 12px;
      font-weight: normal;
      color: $color_scarpa_flow_approx;
    }
  }
  .btn_voice {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 63px;
    border-left: 1px solid $color_mercury_approx;
    border-bottom: 1px solid $color_mercury_approx;
    .btn_comm {
      display: block;
      width: 23px;
      height: 18px;
      margin: 0 auto;
      background-position: -440px -130px;
    }
    &:hover .btn_comm {
      background-position: -470px -130px;
    }
  }
  .btn_refresh {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 60px;
    height: 61px;
    border-left: 1px solid $color_mercury_approx;
    .btn_comm {
      display: block;
      width: 24px;
      height: 20px;
      margin: 0 auto;
      background-position: -440px -170px;
    }
    &:hover .btn_comm {
      background-position: -470px -170px;
    }
  }
  .desc_voice {
    display: none;
    height: 35px;
    padding-top: 14px;
    font-size: 17px;
    color: $color_storm_dust_approx;
    text-align: center;
    letter-spacing: -1px;
  }
}

.voice_on {
  .img_captcha {
    display: none;
  }
  .desc_voice {
    display: block;
  }
  .btn_voice {
    .btn_comm {
      width: 28px;
      height: 19px;
      background-position: -390px -350px;
    }
    &:hover .btn_comm {
      background-position: -420px -350px;
    }
  }
}

.wrap_error {
  #tc_Head {
    width: 590px;
    height: 32px;
    padding: 88px 0 0;
    border-bottom: 1px solid $color_scarpa_flow_approx;
  }
  #tc_ServiceLogo {
    float: left;
    width: 93px;
    height: 19px;
    background-position: -275px 0;
  }
  .link_customer {
    float: right;
    padding-right: 6px;
    margin: 14px 2px 0 0;
    font-size: 11px;
    line-height: 13px;
    font-family: $font_2, $font_1;
    color: $color_tundora_approx;
    background-position: 100% -848px;
    letter-spacing: -1px;
  }
  #mArticle {
    width: 590px;
  }
  #tc_Foot {
    width: 590px;
  }
  .tit_error {
    font-size: 18px;
    line-height: 32px;
    color: $color_mine_shaft_approx;
    letter-spacing: -1px;
    .emph_error {
      font-weight: bold;
      color: $color_orange_approx;
    }
  }
  .desc_error {
    padding-top: 15px;
    font-size: 13px;
    line-height: 24px;
    color: $color_mountain_mist_approx;
    letter-spacing: -1px;
  }
}

.cont_error {
  padding: 140px 0 50px;
  background: $url_0 no-repeat 50% 50px;
  text-align: center;
  .link_home {
    display: inline-block;
    width: 164px;
    height: 30px;
    margin: 45px auto 0;
    padding-top: 14px;
    border: 1px solid $color_alto_approx;
    font-size: 14px;
    line-height: 17px;
    color: $color_rolling_stone_approx;
    background-color: $white;
    letter-spacing: -1px;
    &:hover {
      background-color: $alabaster;
      text-decoration: none;
    }
  }
  .link_prev {
    display: inline-block;
    width: 81px;
    height: 30px;
    margin: 0 3px;
    padding-top: 14px;
    border: 1px solid $color_alto_approx;
    font-size: 14px;
    line-height: 17px;
    color: $color_rolling_stone_approx;
    background-color: $white;
    letter-spacing: -1px;
    &:hover {
      background-color: $alabaster;
      text-decoration: none;
    }
    .txt_prev {
      padding-left: 15px;
      background-position: 0 -921px;
      cursor: pointer;
    }
  }
  .wrap_btn {
    position: relative;
    padding-top: 30px;
    .link_home {
      margin: 0 3px;
    }
    .link_more {
      position: absolute;
      top: 44px;
      right: 43px;
      height: 14px;
      padding: 0 10px 1px 0;
      border-bottom: 1px solid $color_hit_pink_approx;
      font-size: 12px;
      line-height: 15px;
      color: $color_orange_approx;
      background-position: 100% -420px;
      letter-spacing: -1px;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.box_error {
  width: 512px;
  padding: 27px 29px 30px;
  margin: 32px auto 0;
  font-size: 13px;
  color: $color_mountain_mist_approx;
  background-color: $alabaster;
  text-align: left;
  letter-spacing: -1px;
  .info_error {
    line-height: 24px;
  }
  .list_error {
    overflow: hidden;
    padding-top: 14px;
    margin-top: 15px;
    border-top: 1px solid $color_gray_nurse_approx;
    line-height: 24px;
    li {
      padding-left: 10px;
      color: $color_mine_shaft_approx;
      background: $url_1 no-repeat 0 10px;
    }
    .tit_subject {
      float: left;
      width: 72px;
      padding-left: 10px;
      margin-top: 4px;
      background-position: 0 -889px;
    }
    .txt_subject {
      float: left;
    }
    .txt_bar {
      float: right;
      padding-right: 7px;
      color: $color_mine_shaft_approx;
    }
    .desc_info {
      float: left;
      width: 425px;
      margin-top: 4px;
      color: $color_mine_shaft_approx;
    }
    .link_error {
      text-decoration: underline;
    }
  }
  .list_bloginfo {
    .tit_subject {
      width: 85px;
    }
    .desc_info {
      width: 410px;
    }
  }
  .tit_subtitle {
    font-weight: normal;
    line-height: 24px;
    color: $color_mine_shaft_approx;
  }
  .link_more {
    display: inline-block;
    height: 14px;
    padding: 0 10px 1px 0;
    margin-top: 17px;
    font-size: 12px;
    line-height: 15px;
    color: $color_mountain_mist_approx;
    background-position: 100% -945px;
    letter-spacing: -1px;
    &:hover {
      text-decoration: none;
    }
  }
  .link_find {
    color: $color_orange_approx;
    text-decoration: underline;
  }
}

.box_error2 {
  width: 550px;
  padding: 15px 10px;
  margin: 30px auto 0;
  font-size: 13px;
  line-height: 24px;
  color: $color_mountain_mist_approx;
  background-color: $alabaster;
  letter-spacing: -1px;
  .link_more {
    text-decoration: underline;
  }
}

.cont_dormant {
  padding: 46px 60px;
  .desc_error {
    padding: 18px 0 14px;
  }
  .emph_id {
    color: $color_orange_approx;
  }
  .info_mail {
    display: block;
    padding-top: 10px;
    color: $color_mountain_mist_approx;
  }
  .wrap_btn {
    padding-top: 30px;
  }
  .btn_confirm {
    font-size: 14px;
    line-height: 17px;
    color: $white;
  }
  .box_captcha {
    margin-top: 11px;
    .input_info {
      width: 377px;
    }
  }
}

.cont_unlock {
  background: $url_2 no-repeat 50% 50px;
}

.cont_password {
  padding: 46px 40px;
  .tbl_regist {
    margin: 11px 0 0;
    th {
      width: 165px;
      border-right: 0 none;
    }
    .tf_comm {
      width: 303px;
    }
  }
  .link_cancel {
    display: inline-block;
    width: 128px;
    height: 30px;
    padding-top: 14px;
    margin-left: 6px;
    border: 1px solid $color_alto_approx;
    font-size: 14px;
    line-height: 17px;
    color: $color_rolling_stone_approx;
    background-color: $white;
    &:hover {
      background-color: $alabaster;
      text-decoration: none;
    }
  }
}

.cont_complete {
  padding-top: 150px;
  background: $url_3 no-repeat 50% 50px;
  .wrap_btn {
    padding-top: 67px;
  }
}

.cont_deny {
  padding-top: 150px;
  background: $url_4 no-repeat 50% 50px;
  .wrap_btn {
    padding-top: 67px;
  }
}

.footer_tistory .link_tc_ {
  color: $color_trendmaster;
}

.captcha_noti .ico_arrow {
  top: 42px;
  background-position: 0 -875px;
}

#login-button {
  width: 100%;
  font-size: small;
  color: #fff;
  background-color: #2B5F5B;
  display: block;
  margin: 21px auto 0;
}

form.ui.form .login_append {
  padding-top: 20px;
  font-size: 13px;
  letter-spacing: -1px;
  text-align: center;

  .link_find {
    color: #8f949b;
    letter-spacing: -1px;
  }

  .txt_bar {
    padding: 0 20px;
    color: #dfe0e2;
  }

  .link_join {
    padding-right: 10px;
    color: #2B5F5B;
    background-position: 100% -420px;
    letter-spacing: -1px;
  }
}